template/webcam.json
[{"id":"800f274b.6632d8","type":"ui_webcam","z":"321137ac.2bc348","name":"","group":"5ecf1e5d.c16c4","order":1,"width":"10","height":"7","countdown":false,"autoStart":false,"hideCaptureButton":true,"showImage":0,"mirror":true,"format":"jpeg","x":320,"y":140,"wires":[["f0e86e5b.c2eb5","deade4b6.926288"]]},{"id":"f0e86e5b.c2eb5","type":"debug","z":"321137ac.2bc348","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"deade4b6.926288","type":"change","z":"321137ac.2bc348","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"webcam_time.jpeg","tot":"str"},{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"},{"t":"change","p":"filename","pt":"msg","from":"time","fromt":"str","to":"timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["d062ebca.fa31e8"]]},{"id":"d062ebca.fa31e8","type":"file","z":"321137ac.2bc348","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":510,"y":200,"wires":[[]]},{"id":"bc8cf8a5.78e498","type":"ui_button","z":"321137ac.2bc348","name":"","group":"5ecf1e5d.c16c4","order":2,"width":"7","height":"1","passthru":false,"label":"Capture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":80,"wires":[["1491b6df.c56d59"]]},{"id":"1491b6df.c56d59","type":"change","z":"321137ac.2bc348","name":"msg.capture","rules":[{"t":"set","p":"capture","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["800f274b.6632d8"]]},{"id":"1bfbdc10.aade94","type":"ui_button","z":"321137ac.2bc348","name":"Clear","group":"5ecf1e5d.c16c4","order":2,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"\"","payloadType":"str","topic":"","topicType":"str","x":130,"y":140,"wires":[["800f274b.6632d8"]]},{"id":"5ecf1e5d.c16c4","type":"ui_group","name":"WebCam","tab":"5967b7da.b44598","order":1,"disp":true,"width":"10","collapse":false},{"id":"5967b7da.b44598","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]